img{
	max-width: 90%;
	max-width: 90%;
	min-width: 90%;
	min-width: 90%;
}

.skuf {/*гіперсилка*/
	font-size: 65;
	color: blue;
}
.skuf1{/*текс після силки*/
	font-size: 65%;	
	color: black;
}
.skuf2{/*основний текст*/
	font-size: 65;
	color: black;
}
h1{
	font-size: 75;
	color: black;
}
.container {
	margin: 0 8%;
	background-color: white;
}
.skuf3{
	font-size: 5;
	color: black;
}